{
	"presets": ["@babel/preset-typescript"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@assets": "./app/assets",
					"@components": "./app/components",
					"@contexts": "./app/contexts",
					"@hooks": "./app/hooks",
					"@locales": "./app/locales",
					"@models": "./app/models",
					"@navigation": "./app/navigation",
					"@pages": "./app/pages",
					"@services": "./app/services",
					"@stores": "./app/stores",
					"@theme": "./app/theme",
					"@utils": "./app/utils",
					"@gfx": "./app/gfx"
				}
			}
		]
	]
}
