@font-face {
	font-family: "Roboto"; /*Can be any text*/
	src: local("Roboto-Medium"),
		url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

html {
	font-family: "Roboto";
	background-color: #121212;
}
